name: Publish VS Code Extension

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run build --workspace=@structure-builder/core
      - run: npm run build --workspace=structure-builder-vscode

      - run: npx vsce publish -p ${{ secrets.VSCE_TOKEN }}
        working-directory: packages/vscode-extension
